# Credenziali del broker di sviluppo. Non sono quelle di casa, di proposito:
# un errore di configurazione deve fallire, non collegarsi al broker vero.
MQTT_USER=dev
MQTT_PASS=cambiami
CONFIGURATORE_PORT=8080
