<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Per la sola scoperta in rete locale dell'API di debug: senza il lock
         multicast lo stack Wi-Fi puo scartare i datagrammi in broadcast, che
         sono proprio le richieste a cui l'app deve rispondere. Non servono a
         nient'altro, e a interruttore spento non vengono nemmeno usati. -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- tools:ignore="DataExtractionRules": lint chiede anche fullBackupContent
         per le API 26-30, ma li il backup e gia spento da allowBackup="false". -->
    <application
        android:name=".SmartHomeApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:ignore="DataExtractionRules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHome">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartHome"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
